body {
  margin: 0;
  font-family: sans-serif;
}

.MuiTableCell-sizeMedium.css-1azl6jz-MuiTableCell-root,
.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  font-weight: 700;
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignRight.MuiTableCell-sizeMedium.css-1azl6jz-MuiTableCell-root {
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
